@font-face {
	font-family: 'Kodchasan_Bold';
	src: url('../fonts/Kodchasan-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: 'Kodchasan_Medium';
    src: url('../fonts/Kodchasan-Medium.ttf');
    font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: 'Kodchasan_Regular';
    src: url('../fonts/Kodchasan-Regular.ttf');
    font-weight: 400;
	font-style: normal;
}
*{
    font-family: 'Kodchasan_Medium', sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.1;
}